*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
home-assistant_v2.*
*.db-journal
lib
tts
secrets.yaml
known_devices.yaml
ip_bans.yaml
*.conf
plex.conf
phue.conf
ecobee.conf
harmony_media_room.conf
harmony_living_room.conf
entity_registry.yaml 
pyozw.sqlite
.*
!.HA_VERSION 
!/.gitignore
html5_push_registrations.conf
ip_bans.yaml
/icloud/*
custom_components/sensor/__pycache__/
.storage
.cloud
.google.token
esphomeyaml
esphome
experimental.yaml
